.contact_wrapper svg {
  font-size: 1em;
  vertical-align: middle;
  margin-right: 5px;
}

.contact-form {
  padding-top: 20px;

  button {
    float: right;
    background-color: #2496ed;
    color: #ffffff;
  }

  button:hover {
    background-color: #2ec5ca;
    color: white;
  }

  /*Apply white background to the input container without covering the text */
  .MuiInputBase-root {
    background-color: #ffffff;
    color: #000000; /* Ensures written text is visible in dark mode */
  }

  /* Maintains legibility of MUI labels */
  .MuiInputLabel-root {
    color: #333333;

    &.Mui-focused {
      color: #2496ed; /* Label color when focusing */
    }
  }
}

label {
  font-size: 1.2rem;
  font-family: 'DomaineDispNar-Medium', sans-serif;
}

.form-flex {
  display: flex;
  gap: 15px;
  padding-bottom: 15px;
}

.form-flex .MuiFormControl-root {
  width: 100%;
}

form {
  width: 100% !important;
}

.body-form {
  width: 100% !important;
  margin-bottom: 15px !important;
}