.vertical-timeline span {
    color: white;
    font-family: 'Courier Prime', monospace;
}

.vertical-timeline p {
    color: rgb(39, 40, 34);
}

.vertical-timeline-element p {
    color: rgb(39, 40, 34);
    text-align: justify; 
}

.vertical-timeline-element h3 {
    color: rgb(39, 40, 34);
}

.vertical-timeline-element h4 {
    color: rgb(39, 40, 34);
}

.vertical-timeline-element span {
    color: rgb(39, 40, 34);
}

.vertical-timeline-element .vertical-timeline-element-date {
    color: white;
}

.svg-inline--fa {
    color: white;
}

.timeline-date-highlight {
  font-size: 1.3rem !important; 
  font-weight: 700 !important;   
  color: #738788 !important;     
  opacity: 1 !important;         

  // --- ALIGNMENT DISPLACEMENT FIX ---
  padding-top: 12px !important;       // Removes the top spacing that pushes the date down
  line-height: 1em !important;       // Reduces line height to prevent taking up extra space
}